# select examples from [Python Crash Course](https://nostarch.com/pythoncrashcourse)

In [1]:
print('hello, world!')

hello, world!

# 2) variables and simple data types

### variables

In [2]:
message = 'hello, world!'
print(message)

hello, world!

![](img/namingusingvariables.jpeg "Matthes p. 21")

### avoiding name errors when using variables

In [3]:
print(mesage)

NameError: name 'mesage' is not defined

### strings

```
'I told my friend, "Python is my favorite language!"'  
"The language 'Python' is named after Monty Python, not the snake."  
"One of Python's strengths is its diverse and supportive community."  
```

### string methods

In [4]:
name = "ada lovelace"
print(name.title())

Ada Lovelace

### combining / concatenating strings

In [5]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

ada lovelace

*tip: using tab to autofill*

### adding whitespace

In [6]:
print("Python")
print("\tPython")
print("Languages:\nPython\nJavascript")

Python
	Python
Languages:
Python
Javascript

### removing whitespace

In [7]:
too_much_whitespace = '      python            '
print("*" + too_much_whitespace + "*")
print("*" + too_much_whitespace.strip() + "*")

*      python            *
*python*

### numbers

In [8]:
# pp. 30-31

### combining strings and numbers

In [9]:
age = 41
message = "Happy " + age + 1 + "nd Birthday!"

TypeError: Can't convert 'int' object to str implicitly

In [10]:
age = 41
message = "Happy " + str(age + 1) + "nd Birthday!"
print(message)

Happy 42nd Birthday!

### comments

In [11]:
# Comments keep you sane

# 3) introducing lists

A list is a collection of items in a particular order.

In [12]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0]) # print the first item in the list

['trek', 'cannondale', 'redline', 'specialized']
trek

In [13]:
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [14]:
bicycles[0] = 'huffy'
print(bicycles)

['huffy', 'cannondale', 'redline', 'specialized']

In [15]:
bicycles.append('trek')
print(bicycles)

['huffy', 'cannondale', 'redline', 'specialized', 'trek']

In [16]:
del bicycles[0]
print(bicycles)

['cannondale', 'redline', 'specialized', 'trek']

In [17]:
last_bicycle = bicycles.pop()
print(last_bicycle)
print(bicycles)

trek
['cannondale', 'redline', 'specialized']

In [18]:
print(len(bicycles))

3

In [19]:
print(bicycles[3])

IndexError: list index out of range

In [20]:
print(bicycles[-1])

specialized

# 4) working with lists

### looping through a list

In [21]:
for bike in bicycles:
    print(bike)

cannondale
redline
specialized

In [22]:
for bike in bicycles:
    print(bike.title() + " is a great bike.")
    
print("Those are all the great bikes I can think of.")

Cannondale is a great bike.
Redline is a great bike.
Specialized is a great bike.
Those are all the great bikes I can think of.

### indentation

In [23]:
print("this will work.")
    print("why won't this work?")

IndentationError: unexpected indent (<ipython-input-23-8645a8dbe372>, line 2)

### numerical lists

In [24]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [25]:
squares = []
for i in range(1, 11):
    square = i**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# slice a list
print(bicycles[0:2])

['cannondale', 'redline']

# 5) if statements

In [27]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else: 
        print(car.title())

Audi
BMW
Subaru
Toyota

### testing for equality

In [28]:
print('bmw' == 'bmw')
print('bmw' == 'BMW')
print('bmw'.upper() == 'BMW')
print(18 == 19)
print(100 == 100)

True
False
True
False
True

### testing for inequality

In [29]:
# testing for inequality
topping = 'mushrooms'

if topping != 'anchovies':
    print("Hold the anchovies!")

Hold the anchovies!

### testing multiple conditions

In [30]:
print(19 == 19 and 20 == 21)
print(19 == 19 or  20 == 21)

False
True

### testing for inclusion in a list

In [31]:
print('redline' in bicycles)
print('schwinn' in bicycles)
print('schwinn' not in bicycles)

True
False
True

In [32]:
age = 12

if age < 4:
    price = 0
elif age < 18: 
    price = 5

else: 
    price = 10

print("Your admission cost is $" + str(price) + ".00")

Your admission cost is $5.00

# 6) dictionaries

In [33]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

{'color': 'green', 'points': 5}

In [34]:
print(alien_0['color'])
print(alien_0['points'])

green
5

In [35]:
alien_0['favorite_food'] = 'cookies'
print(alien_0)

{'favorite_food': 'cookies', 'color': 'green', 'points': 5}

In [36]:
del alien_0['favorite_food']
print(alien_0)

{'color': 'green', 'points': 5}

#### NESTING:  
* A list of dictionaries  
* A list in a dictionary  
* A dictionary in a dictionary

# 7) while loops

### avoiding infinite loops

In [37]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

# 8) functions

In [38]:
def greet_user():
    """Display a simple greeting."""
    print("Hello!")

greet_user()

Hello!

### passing information to a function

In [39]:
def greet_user(username):
    """Display a simple greeting."""
    print("Hello, " + username.title() + "!")

greet_user('jessie')

Hello, Jessie!

### positional and keyword arguments, default values

In [40]:
def describe_pet(pet_name, animal_type='dog'):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")
    
# A dog named Willie.
describe_pet('willie')
describe_pet(pet_name='willie')

# A hamster named Harry.
describe_pet('harry', 'hamster')
describe_pet(pet_name='harry', animal_type='hamster')
describe_pet(animal_type='hamster', pet_name='harry')

I have a dog.
My dog's name is Willie.

I have a dog.
My dog's name is Willie.

I have a hamster.
My hamster's name is Harry.

I have a hamster.
My hamster's name is Harry.

I have a hamster.
My hamster's name is Harry.

### return values

In [41]:
def get_formatted_name(first_name, last_name, middle_name=''):
    """Return a full name, neatly formatted."""
    if middle_name:
        full_name = first_name + ' ' +  middle_name + ' ' + last_name
    else:
        full_name = first_name + ' ' + last_name
    return full_name.title()
    
musician = get_formatted_name('jimi', 'hendrix')
print(musician)

musician = get_formatted_name('john', 'hooker', 'lee')
print(musician)

Jimi Hendrix
John Lee Hooker